#main{
    width: 1200px;
    height: 800px;
    background-color: #f0f8ff1a;

}
#myheader{
display: flex;
}
#box{
    width: 150px;
    height: 100px;
    background-color:#f57c0091;
    position: relative
    ;
    right: 1050px;
    
}
#innerbox{
    width: 50px;
    height: 50px;
    border: 2px solid white;
    position: relative;
    top: 23px;
    left: 46px;
}
#p1{
    position: relative;
    left: 13px;
    top: -7px;
    color: white;
    font-weight: bold;
}
#p2{
    position: relative;
    left: 11px;
    top: -24px;
    color: white;
    font-weight: bold;
}
#navbar{
    width: 1050px;
    height: 100px;
    background-color:#e0c091cf;
    position: relative;
    left: 150px;
    
    
}
#navbar ul{
    position: relative;
    top: 15px;
}
#navbar li{
    float: left;
    list-style: none;
    position: relative;
    top: 6px;
    
    
}
#navbar li a{
    text-decoration: none;
    position: relative;
    left: 4px;
    top: 12px;
    padding: 10px 10px;
    color: black;
    font-family: ui-monospace;
    font-weight: bold;
    display: inline;
}
#account{
    text-decoration: none;
    position: relative;
    left: 895px;
    color: black;
    font-family: ui-monospace;
    font-weight: bold;
    top: 2px;
}
#search{
    border-bottom: 2px solid #d895322e;
    
    
    width: 150px;
    height: 30px;
    position: relative;
    left: 670px;
    bottom: -26px;

}
#searchbar{
    padding: 5px 10px;
position: relative;
bottom: 16px;
right: 5px;
text-decoration: none;
color: black;
border: 2px solid #d895322e;
background-color: #d895322e;

}
#search i{
    position: relative;
    bottom: 38px;
    left: 154px;

}
#container{
    width: 1200px;
    height: 400px;
    background-color:#e0c091 ;
    display: flex;
}
#left{
    background-image: url(pic2.png);
    background-repeat: no-repeat;
    background-position: center -220px;
    background-size: cover;
    
    width: 1180px;
    height: 400px;
}
#right{
    background-color:#e0c091cf;
    width: 20px;
    height: 400px;
}
#center{
    width: 285px;
    height: 209px;
    background-color: white;
    position: relative;
    top: 54px;
    left: 307px;
}
#center h5{
    position: relative;
    left: 30px;
    top: 20px;
    font-family: ui-monospace;
    font-style:normal ;
    display: inline;
}
#text1{
    position: relative;
    left: 16px;
    top: 50px;
    font-family: ui-monospace;
    font-style:normal ;
    font-weight: bold;
    display: inline;

}
#text2{
    position: relative;
    left: 13px;
    top: 52px;
    font-family: ui-monospace;
    font-style:normal ;
    font-weight: bold;
    display: inline;
    margin: 15px;
}
#center p{
    position: relative;
    top: 55px;
    left: 24px;
    margin: 0px;
    
}
#border{
    background-color:#e0c091cf ;
    width:1050px ;
    height: 15px;
    position: relative;
    top: 0px;
    left: 150px;
}
#center button{
    position:relative;
    top: 60px;
    left: 24px;
    width: 110px;
    height: 35px;
    background-color: #f57c0091;
    border: 1px solid #f57c0091;
}
#center a{
    font-family: ui-monospace;
    font-size: small;
    font-style: normal;
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: inline;
  
}
#content{
    height: 125px;
    width: 1200px;
    background-color: #f0f8ff1a;

}

#content h1{
    position: relative;
    top: 20px;
    left: 455px;
    display: inline;
    margin: 0px;

}
#content1{
    position: relative;
    top: 50px;
    left: 45px;
    display: inline;
    margin: 0px;
}
#content2{
    position: relative;
    top:70px;
    display: inline;
    left: 190px;
    margin: -520px;
}
#myfooter{
    height: 160px;
    width: 800px;
    background-color:#f0f8ff1a;
    position: relative;
    left: 200px;
}
#myfooter1{
    width: 800px;
    height: 50px;
    background-color:#f0f8ff1a;
}
#myfooter ul{
    position: relative;
    top: 0px;
    left: 0px;
    display: inline;
}
#myfooter li{
    float: left;
    position: relative;
    top: 15px;
    left: 224px;
    margin: 0px;
    list-style: none;
    display: inline;
}
#myfooter a{
    text-decoration: none;
    padding: 10px;
    color:black;
    border-bottom: 4px solid #f0f8ff1a;
    position: relative
    ;
    top: 2px;

}
#myfooter a:hover{
    color: #f57c0091;
    border-color:#f57c0091;
}
#myfooter2{
    width: 800px;
    height: 110px;
    background-color:#f0f8ff1a;;
}
#myfooter img{
    width:220px ;
    height: 122px;
    position: relative;
    top:-10px;
    left: 52px;
}
#productshow{
    width: 1200px;
    height: 1200px;
    background-color: red;
}




#first_part{
    width: 1200px;
    height: 400px;
    background-color: green;
    display: flex;
}
.pro1{
    width: 390px;
    height: 390px;
    background-color: purple;
    border: 1px solid black;
    margin: 5px;
}
#pic1{
    width: 390px;
    height: 310px;
    background-color: white;

}
#img1{
    width: 280px;
    height: auto;
    position: relative;
    left: 70px;
    top: 10px;
    
}
#whats1{
    width: 389px;
    height: 79px;
    background-color: white;
    border: 1px solid black;
}
#img2{
    width: 90px;
    height: auto;
    position: relative;
    right:-306px;
    top: -5px;
}

#img3{
    width: 62px;
    height: auto;
    position: relative;
    right:95px;
    top: -18px;
}